html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

}

body {
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
}


.top-navigation {
    background-color: #fff;
    position: fixed;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #DDD;
}

.content {
	width: 970px;
	margin: 0 auto;	
	
}

.top-navigation > .content {
    height: 70px;
    padding: 0px 15px;
	 
}

.top-navigation .links > .active {
    color: #4c5058;
    font-weight: 500;
}


.top-navigation .links {

	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 30px;
	
}

.top-navigation .links li { 
	display: inline-block;
	margin-left: 25px;

}

.logo {
	 margin-top: 15px;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.introduction {
	background-image: url('../images/first-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    background-position: 0 bottom;
    overflow: auto;
    
}

.introduction h1 {
		margin-top: 290px;
		font-size: 54px;

}

.introduction h3 {
		margin-top: -23px;
		font-size: 27px ;
}

.introduction h1,
.introduction h3 {
  color: white;
  text-align: center;
  font-weight: 300;
}

.big-button {
	text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 16px 26px;
    line-height: 1.30;
    width: 160px;
    background-color: #f15a29;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    color: white;

}

button:hover {
  background-color: #d9400e;
  cursor: pointer;
}

.content > h2 {
	margin-top: 150px;
	font-weight: 300;
	font-size: 50px;
	text-align: center;

}

h3 {
	font-weight: 400;
	font-size: 27px;
	text-align: center;
}


.cases {
	overflow: hidden;
	background-color: white;
	padding-bottom: 5rem;

}

.devices {
    width: 33.3333333%;
    display: inline-block;
    float: left;
    /* styles to assist with debugging */
    box-sizing: border-box;
    height: 8em;
    text-align: center;
}


.cases .devices h3 {
  font-weight: 400;
  font-size: 1.563rem;
  margin: 2.5rem 0px 1.875rem;
}


.footer {
    background-color: #fff;
    overflow: auto;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    display: block;
    clear: both;
}

.footer hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 40px 0;
}

.footer p {
	font-size: 18px;
	padding-left: 35px;
}



.footer .icons > li{
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}

.footer .icons > li:hover {
  cursor: pointer;
}

.footer .fa-twitter {
  color: #55acee;
}

.footer .fa-facebook {
  color: #4c66a4;
}

.footer .fa-instagram {
  color: #3f729b;
}

.footer .copyright {
	 font-weight: 300;
  	 color: #838994;
}
